@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar classic CSS */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #75787d;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a09fa1;
}

/* end of custom scrollbar CSS */

@layer components {
	:focus {
		@apply outline-none;
	}
	/* -----body----- */
	body {
		@apply font-body bg-[#0D0D0F] text-[#75787D];
	}
	/* -----end of body----- */

	/* -----container, all the content----- */
	.container {
		@apply min-w-full xl:flex xl:flex-row;
	}
	/* -----end of container, all the content----- */

	/* -----buttons----- */
	.btn {
		@apply duration-300 hover:cursor-pointer hover:text-gray-400;
	}
	.navbar-btn {
		@apply duration-300 hover:scale-105;
	}
	.clean-searchbar {
		@apply absolute right-9 top-0 bottom-0;
	}
	.watch-trailer-btn {
		@apply text-sm sm:text-base tracking-wider duration-300 hover:scale-105 hover:text-black;
	}
	.watch-upcoming-trailer-btn,
	.watch-other-trailer-btn {
		@apply rounded-full bg-gradient-to-br from-pink-800 to-orange-500 px-2 py-1 text-white duration-300 hover:text-white;
	}
	.add-to-favorites-btn {
		@apply h-8 w-8 rounded-full bg-[#d4d4d4ab] text-xl text-white duration-300 hover:scale-105 hover:text-black;
	}
	.add-to-favorites-big-btn {
		@apply relative mb-2 mr-2 inline-flex h-fit w-fit items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-pink-800 to-orange-500 p-0.5 text-sm font-medium text-white duration-300 hover:scale-105 hover:text-white focus:outline-none focus:ring-pink-200 group-hover:from-pink-800 group-hover:to-orange-500 dark:text-white dark:focus:ring-pink-800;
	}
	.add-to-favorites-big-text {
		@apply relative rounded-md bg-black px-2 py-2 transition-all duration-300 ease-in group-hover:bg-opacity-0 dark:bg-gray-900 text-xs md:text-base;
	}
	.remove-favorites-button {
		@apply relative mb-2 mr-2 inline-flex items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-pink-800 to-orange-500 p-0.5 text-sm font-medium text-white duration-300 hover:scale-105 hover:text-white focus:outline-none focus:ring-pink-200 group-hover:from-pink-800 group-hover:to-orange-500 dark:text-white dark:focus:ring-pink-800;
	}
	.remove-favorites-button-text {
		@apply relative rounded-md bg-black px-2 py-2 transition-all duration-300 ease-in group-hover:bg-opacity-0 dark:bg-gray-900 text-xs md:text-base;
	}
	.movie-favs-buttons {
		@apply flex w-full w-full gap-x-3 pb-4;
	}
	/* -----end of buttons----- */

	/* -----left menu----- */
	.menu-container {
		@apply hidden xl:block sticky top-0 h-screen w-56 shrink-0 space-y-8 overflow-y-auto bg-[#1A171E] px-6 pt-20;
	}
	.submenu-container {
		@apply border-b border-b-[#75787d65];
	}
	.submenu-title {
		@apply pl-2 sm:pl-2 text-sm text-[#9b9fa5];
	}
	.submenu-elements {
		@apply gap-3 space-y-6 py-4;
	}
	.submenu-element {
		@apply duration-300 hover:scale-105;
	}
	.submenu-element a {
		@apply space-x-3 text-lg;
	}
	.fa-icon {
		@apply text-lg;
	}
	/* -----end of left menu----- */

	/* -----navbar----- */
	.navbar-container {
		@apply flex justify-between border-b border-b-[#75787d65] xl:pt-8 pb-4 text-base sm:text-xl;
	}
	.navbar-container > .navbar-titles {
		@apply flex gap-5 md:gap-10 lg:gap-14;
	}
	/* -----end of navbar----- */

	/* -----main container / main page ----- */
	.main-container {
		@apply relative grow px-5 sm:px-10 pt-5 sm:pt-10 min-h-screen;
	}
	.home-container {
		@apply min-w-[350px] overflow-y-auto px-3 lg:px-10 pb-5;
	}
	.featured-header {
		@apply flex justify-between pt-8 pb-4;
	}
	.featured-header > .featured-title {
		@apply text-xl sm:text-2xl font-bold text-white;
	}
	.featured-header a {
		@apply sm:text-xl;
	}
	.featured-movies {
		@apply flex flex-nowrap overflow-x-auto;
	}
	.featured-upcoming-movie {
		@apply relative mr-4 w-[330px] sm:w-[600px] shrink-0 duration-500 hover:scale-95;
	}
	.featured-other-movie {
		@apply relative mr-4 w-[280px] sm:w-[400px] shrink-0 duration-500 hover:scale-95;
	}
	.featured-upcoming-infos {
		@apply absolute bottom-0 w-full px-8 pb-5;
	}
	.featured-other-infos {
		@apply absolute bottom-0 w-full px-4 py-2;
	}
	.featured-upcoming-title {
		@apply text-xl sm:text-2xl font-bold text-white drop-shadow-xl;
	}
	.featured-other-title {
		@apply text-xl font-bold text-white drop-shadow-md;
	}
	.featured-upcoming-genre {
		@apply flex max-w-[370px] flex-wrap space-x-1;
	}
	.featured-upcoming-genre p {
		@apply my-1 rounded-md bg-[#0D0D0F] px-1 sm:text-lg tracking-wide text-white opacity-80;
	}
	.featured-other-date,
	.category-date {
		@apply text-white;
	}
	.featured-upcoming-rating,
	.featured-other-rating {
		@apply flex gap-1 text-white;
	}
	.featured-upcoming-rating img,
	.featured-other-rating img {
		@apply h-5;
	}
	.poster {
		@apply w-full rounded-3xl opacity-70;
	}
	.featured-more-infos {
		@apply flex items-end justify-between;
	}
	.featured-upcoming-more-infos-right {
		@apply absolute right-5 bottom-5 space-x-2 align-middle;
	}
	.featured-other-more-infos-right {
		@apply absolute right-3 bottom-3 space-x-1;
	}
	/* -----end of main container / main page----- */

	/* -----right menu----- */
	.genre-search-container {
		@apply hidden xl:block sticky top-0 h-screen w-96 shrink-0 overflow-y-auto bg-[#1A171E] px-4 pt-10;
	}
	.searchbar-container {
		@apply relative;
	}
	.searchbar {
		@apply relative m-1 w-80 rounded-lg bg-[#0D0D0F] p-2 pl-4 text-white shadow-lg focus:placeholder-gray-200;
	}
	.search-container {
		@apply absolute max-h-56 overflow-y-auto rounded-sm text-red-400 bg-[#d4d4d4ab] shadow-xl;
	}
	.search-container::-webkit-scrollbar {
		@apply hidden;
	}
	.search-movie {
		@apply flex w-[330px] items-center gap-2 border-b-[1px] border-[#e7e7e7dd] bg-[#3d3d3d] pr-2 text-[#e7e7e7dd];
	}
	.search-poster {
		@apply w-20 opacity-80;
	}
	.genre-container {
		@apply pt-4;
	}
	.genre-sub-container {
		@apply grid grid-cols-2 gap-2 pt-3;
	}
	.genre {
		@apply text-sm sm:text-base flex  w-40 items-center justify-between rounded-full bg-[#0D0D0F] p-1 pl-2 tracking-wider shadow-lg duration-300 hover:scale-105;
	}
	.genre-add-btn {
		@apply pr-2 sm:text-xl;
	}
	.recommended-movie {
		@apply relative w-full shrink-0 duration-500 hover:scale-95;
	}
	/* -----end of right menu----- */

	/* -----main container / category page----- */
	.category-container {
		@apply mb-20 space-y-5;
	}
	.category-title {
		@apply mb-10 border-b border-b-[#75787d65] pb-4 text-4xl text-white;
	}
	.category-movie {
		@apply duration-500 hover:scale-105 border-b xl:border-none pb-2 xl:pb-0 rounded-md border-[#75787d65];
	}
	.category-movie a {
		@apply flex flex-wrap xl:flex-nowrap gap-2 md:gap-4 justify-center;
	}
	.category-poster {
		@apply w-[400px] rounded-sm;
	}
	.category-movie-title {
		@apply text-2xl font-bold text-white mx-auto xl:mx-0;
	}
	.category-infos {
		@apply flex flex-col;
	}
	.category-overview {
		@apply max-h-[100px] overflow-y-auto;
	}
	.category-rating {
		@apply mt-2 flex h-5 gap-1 text-white;
	}
	.page-numbers {
		@apply absolute bottom-5 right-0 left-0 space-x-3 lg:space-x-5 text-center;
	}
	.page-number {
		@apply lg:text-lg duration-300 hover:scale-105 hover:text-white;
	}
	/* -----end of main container / category page----- */

	/* -----main container / movie page----- */
	.movie-container {
		@apply mb-5 flex grow flex-col items-center px-3 sm:px-5 pt-14 mx-auto min-w-[350px] max-w-[1000px];
	}
	.title-container {
		@apply flex flex-wrap sm:flex-nowrap w-full justify-between;
	}
	.movie-title {
		@apply text-3xl md:text-4xl xl:text-5xl text-white;
	}
	.movie-rating {
		@apply my-auto flex sm:flex-col gap-2 sm:gap-0 text-center font-bold;
	}
	.movie-rating-value {
		@apply align-top text-lg md:text-xl text-white;
	}
	.title-infos {
		@apply flex gap-x-5 text-white;
	}
	.movie-media {
		@apply flex flex-wrap md:flex-nowrap w-full justify-center gap-5 py-4;
	}
	.movie-poster {
		@apply h-[405px] duration-700 hover:scale-105;
	}
	.movie-genres {
		@apply flex flex-wrap w-full gap-3;
	}
	.movie-genre {
		@apply rounded-full border border-[#9b9fa5] px-2 font-bold tracking-wider;
	}
	.movie-description {
		@apply w-full w-full pt-2;
	}
	.recommendation-container {
		@apply w-full w-full pt-7;
	}
	.recommendation-movies-container {
		@apply flex overflow-x-auto;
	}
	.recommendation-header {
		@apply text-xl pb-4;
	}
	.recommendation-header > .recommendation-title {
		@apply text-2xl font-bold text-white;
	}
	/* -----end of main container / movie page ----- */

	.light-mode {
		@apply bg-gray-200;
	}
	.light-mode-menus {
		@apply bg-gray-400;
	}
}
