@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar CSS */
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #75787d;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a09fa1;
}

/* end of custom scrollbar CSS */

@layer components {
	:focus {
		@apply outline-none;
	}
	.active {
		@apply text-red-500;
	}
	/* -----body----- */
	body {
		@apply bg-[#0D0D0F] text-[#75787D] font-body;
	}
	/* -----end of body----- */

	/* -----container, all the content----- */
	.container {
		@apply md:flex md:flex-row min-w-full;
	}
	/* -----end of container, all the content----- */

	/* -----buttons----- */
	.btn {
		@apply hover:cursor-pointer hover:text-gray-400 duration-300;
	}
	.navbar-btn {
		@apply hover:scale-105 duration-300;
	}
	.watch-trailer-btn {
		@apply hover:scale-105 duration-300 hover:text-white;
	}
	.watch-upcoming-trailer-btn {
		@apply bg-[#bd1212ab] px-3 py-2 rounded-full text-white;
	}
	.watch-other-trailer-btn {
		@apply bg-[#bd1212ab] px-2 py-1 rounded-full text-white;
	}
	.upcoming-add-to-favorites-btn {
		@apply text-white bg-[#d4d4d4ab] rounded-full text-2xl h-10 w-10 align-bottom hover:text-white hover:scale-105 duration-300;
	}
	.other-add-to-favorites-btn {
		@apply text-white bg-[#d4d4d4ab] rounded-full text-xl h-8 w-8 hover:text-white hover:scale-105 duration-300;
	}
	/* -----end of buttons----- */

	/* -----left menu----- */
	.menu-container {
		@apply bg-[#1A171E] pt-20 w-56	px-6 shrink-0 space-y-8 sticky top-0 h-screen overflow-y-auto;
	}
	.submenu-container {
		@apply border-b border-b-[#75787d65];
	}
	.submenu-title {
		@apply text-[#9b9fa5] text-sm;
	}
	.submenu-elements {
		@apply space-y-6 gap-3 py-4;
	}
	.submenu-element {
		@apply hover:scale-105 duration-300;
	}
	.submenu-element a {
		@apply space-x-3 text-lg;
	}
	.fa-icon {
		@apply text-lg;
	}
	/* -----end of left menu----- */

	/* -----navbar----- */
	.navbar-container {
		@apply flex justify-between pt-8 pb-4 text-xl border-b border-b-[#75787d65];
	}
	.navbar-container > .navbar-titles {
		@apply flex gap-14;
	}
	/* -----end of navbar----- */

	/* -----main container / main page ----- */
	.main-container {
		@apply px-10 grow pt-10;
	}
	.home-container {
		@apply px-10 pb-5 overflow-y-auto  min-w-[500px];
	}
	.featured-header {
		@apply flex justify-between pt-8 pb-4 text-xl;
	}
	.featured-header > .featured-title {
		@apply text-white font-bold text-2xl;
	}
	.featured-movies {
		@apply flex flex-nowrap overflow-x-auto;
	}
	.featured-upcoming-movie {
		@apply w-[600px] shrink-0 relative mr-4 hover:scale-95 duration-500;
	}
	.featured-other-movie {
		@apply w-[400px] shrink-0 relative mr-4 hover:scale-95 duration-500;
	}
	.featured-upcoming-infos {
		@apply absolute bottom-0 px-8 pb-5 w-full;
	}
	.featured-other-infos {
		@apply absolute bottom-0 px-4 py-2 w-full;
	}
	.featured-upcoming-title {
		@apply font-bold text-white text-2xl drop-shadow-xl;
	}
	.featured-other-title {
		@apply font-bold text-white text-xl  drop-shadow-md;
	}
	.featured-upcoming-genre {
		@apply flex flex-wrap space-x-1 max-w-[370px];
	}
	.featured-upcoming-genre p {
		@apply text-lg text-white px-1 rounded-lg my-1  bg-[#0D0D0F] opacity-80;
	}
	.featured-other-date,
	.category-date {
		@apply text-white;
	}
	.featured-upcoming-rating,
	.featured-other-rating {
		@apply text-white flex gap-1;
	}
	.featured-upcoming-rating img,
	.featured-other-rating img {
		@apply h-5;
	}
	.poster {
		@apply rounded-3xl opacity-70 w-full;
	}
	.featured-more-infos {
		@apply flex justify-between items-end;
	}
	.featured-upcoming-more-infos-right {
		@apply space-x-2 align-middle;
	}
	.featured-other-more-infos-right {
		@apply space-x-1;
	}
	/* -----end of main container / main page----- */

	/* -----right menu----- */
	.genre-search-container {
		@apply bg-[#1A171E] pt-10 px-4 w-96 shrink-0 sticky top-0 h-screen overflow-y-auto;
	}
	.searchbar {
		@apply bg-[#0D0D0F] p-2 pl-4 w-80 m-1 rounded-lg relative shadow-lg focus:scale-105 duration-300;
	}
	.search-container {
		@apply absolute bg-[#d4d4d4ab] rounded-sm max-h-56 overflow-y-auto shadow-xl rounded-md;
	}
	.search-container::-webkit-scrollbar {
		@apply hidden;
	}
	.search-movie {
		@apply flex items-center gap-2 text-[#e7e7e7dd] bg-[#3d3d3d] border-b-[1px] border-[#e7e7e7dd] w-[330px] pr-2;
	}
	.search-poster {
		@apply opacity-80 w-20;
	}
	.genre-container {
		@apply pt-4;
	}
	.genre-sub-container {
		@apply grid grid-cols-2 gap-2 pt-3;
	}
	.genre {
		@apply w-36 bg-[#0D0D0F] rounded-full p-1 pl-2 flex justify-between items-center shadow-lg hover:scale-105 duration-300;
	}
	.genre-add-btn {
		@apply text-xl pr-2;
	}
	.recommended-movie {
		@apply shrink-0 relative w-full hover:scale-95 duration-500;
	}
	/* -----end of right menu----- */

	/* -----main container / category page----- */
	.category-container {
		@apply space-y-5;
	}
	.category-title {
		@apply text-4xl text-white mb-10 pb-4 border-b border-b-[#75787d65];
	}
	.category-movie {
		@apply hover:scale-105 duration-500;
	}
	.category-movie a {
		@apply flex  space-x-4 space-y-1;
	}
	.category-poster {
		@apply rounded-sm w-[400px];
	}
	.category-movie-title {
		@apply text-white font-bold text-2xl;
	}
	.category-infos {
		@apply flex flex-col;
	}
	.category-overview {
		@apply max-h-[100px] overflow-y-auto;
	}
	.category-rating {
		@apply h-5 text-white flex gap-1 mt-2;
	}

	/* -----end of main container / category page----- */

	/* -----main container / movie page----- */
	.movie-container {
		@apply flex flex-col px-32 pt-14 grow items-center;
	}
	.title-container {
		@apply flex justify-between w-full max-w-[1000px];
	}
	.movie-title {
		@apply text-5xl text-white;
	}
	.movie-rating {
		@apply flex flex-col my-auto font-bold text-center;
	}
	.movie-rating-value {
		@apply text-white text-xl align-top;
	}
	.title-infos {
		@apply flex gap-x-5 text-white;
	}
	.movie-media {
		@apply flex gap-x-5 justify-center py-4 max-w-[1000px];
	}
	.movie-poster {
		@apply h-[405px] hover:scale-105 duration-700;
	}
	.movie-genres {
		@apply flex gap-x-3 w-full max-w-[1000px];
	}
	.movie-genre {
		@apply border rounded-full px-2 font-bold border-[#9b9fa5];
	}
	.movie-description {
		@apply pt-2 w-full max-w-[1000px];
	}
	.recommendation-container {
		@apply pt-7 w-full max-w-[1000px];
	}
	.recommendation-movies-container {
		@apply flex overflow-x-auto;
	}
	.recommendation-header {
		@apply pb-4 text-xl;
	}
	.recommendation-header > .recommendation-title {
		@apply text-white font-bold text-2xl;
	}
	/* -----end of main container / movie page ----- */
}
